@{
    ViewData["Title"] = "Giao hàng";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";

}

<head>
    <link rel="stylesheet" href="~/css/Login.css" />
</head>

<form action="" class="login-form">
    <div class="login-body">

        <div class="login-left">
            <img class="login-img" src="https://free.vector6.com/wp-content/uploads/2020/12/giang-sinh-noel-vector-069.jpg" alt="">
        </div>

        <div class="login-right">

            <!-- <div class="login-logo">
              <a href=""><img class="logo" src="https://png.pngtree.com/png-clipart/20190611/original/pngtree-wolf-logo-png-image_2306634.jpg" alt=""></a>
            </div> -->

            <div class="login-content">

                <div class="login-title">
                    <span>Đăng nhập</span>
                </div>

                <div class="login-text">
                    <span>Chào mừng trở lại!</span>
                </div>

                <div class="login-input">
                    <div class="login-email">
                        <label for="">Tài khoản</label>
                        <input type="text" id="UserName" placeholder="Tài khoản" />
                    </div>
                    <div class="login-password">
                        <label for="">Mật khẩu</label>
                        <input type="password" id="Password" placeholder="Mật khẩu" />
                    </div>
                </div>
            </div>
            <div class="login-btn">
                <button type="button" id="loginButton">Đăng nhập</button>
            </div>
        </div>

    </div>
</form>

<script src="~/js/Login.js"></script>