@{
    ViewData["Title"] = "Công nợ chi tiết";
}

<head>
    <link rel="stylesheet" href="~/css/ChiTietCN.css" />
</head>

<h2 class="text-center mb-4">Chi tiết công nợ</h2>
<div class="">
    <div class="">
        <div><label>Khách hàng: CTY 01</label></div>
        <div>
            <label class="">Phụ trách: Lê Khắc Hòa</label>
        </div>
        <div class="row" style="height: 28px;">

            <label class="col-6">Nợ hiện tại: </label>
            <label class="col-6">Hạn TT: 60</label>
        </div>
        <div>
            <label>Nợ quá hạn:</label>
        </div>
        <div class="justify-content-between mb-3">
            <div class="d-flex align-items-center">
                <label class="" for="rowsPerPage" style="width: 30%;">Năm:</label>
                <select id="warehouseSelect" class="form-select" style="width: 50%;">
                    <option value="DC Thanh Pham" selected>2022</option>
                    <option value="DC Nguyen Lieu">2022</option>
                    <option value="DC May Moc">2021</option>
                    <option value="DC Phu Tung">2024</option>
                </select>
            </div>
        </div>

    </div>
</div>
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button style="font-size: 14px;" class="nav-link active" id="quotation-tab" data-bs-toggle="tab" data-bs-target="#quotationTableContainer" type="button" role="tab" aria-controls="quotationTableContainer" aria-selected="true">Chi Tiết</button>
    </li>
    <li class="nav-item" role="presentation">
        <button style="font-size: 14px;" class="nav-link" id="pending-tab" data-bs-toggle="tab" data-bs-target="#pendingPaymentsContainer" type="button" role="tab" aria-controls="pendingPaymentsContainer" aria-selected="false">Chưa Thanh Toán</button>
    </li>
</ul>
<div class="tab-content " id="myTabContent">
    <div class="tab-pane fade show active" id="quotationTableContainer" role="tabpanel" aria-labelledby="quotation-tab">

        <table id="quotationTable" class="table table-bordered table-hover">
            <thead class="table-light">
                <tr>
                    <th>Tháng</th>
                    <th>Nợ phát sinh</th>
                    <th>Đã thanh toán</th>
                    <th>Còn lại</th>
                </tr>
            </thead>
            <tbody>
                <script>
                    for (let i = 1; i <= 12; i++) {
                        document.write(`
                                                        <tr>
                                                            <td>${i}</td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                    `);
                    }
                </script>
            </tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="pendingPaymentsContainer" role="tabpanel" aria-labelledby="pending-tab">

        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="table-light">
                    <tr>
                        <th class="fixed-column">Tháng</th>
                        <th class="fixed-column-2">Ngày phát sinh</th>
                        <th>Số hóa đơn</th>
                        <th>Số tiền</th>
                        <th>Đã thu</th>
                        <th>Còn lại</th>
                    </tr>
                </thead>
                <tbody id="tableBody">
                    <!-- Nội dung bảng sẽ được load qua JS -->
                </tbody>
            </table>
        </div>

    </div>
</div>

<script src="~/js/ChiTietCN.js"></script>
